In [ ]:
#Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


from tensorflow.keras.callbacks import ModelCheckpoint

In [ ]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=['EIN', 'NAME'])

In [ ]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = df['APPLICATION_TYPE'].value_counts()
print(app_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 700].index)

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 750].index)

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_encoded = pd.get_dummies(df, columns=["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "STATUS", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])

In [ ]:
application_encoded

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_encoded["IS_SUCCESSFUL"].values
X = application_encoded.drop("IS_SUCCESSFUL", 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

<ipython-input-12-40dd3ad7175d>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_encoded.drop("IS_SUCCESSFUL", 1).values

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
print(X_train_scaled.shape)

(25724, 44)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=480, activation="relu", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 480)               21600

 dense_1 (Dense)             (None, 64)                30784

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 52,449
Trainable params: 52,449
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
# Save the model's weights every 5 epochs
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
checkpoint = ModelCheckpoint(filepath=checkpoint_path, verbose=1, save_weights_only=True, save_freq=5*len(X_train_scaled))

In [ ]:
#Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[checkpoint])

Epoch 1/50
804/804 [==============================] - 8s 6ms/step - loss: 0.5670 - accuracy: 0.7224
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5545 - accuracy: 0.7288
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5515 - accuracy: 0.7293
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7303
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7319
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7321
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7323
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7342
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7328
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7347
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7354
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7362
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7352
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7363
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7364
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7373
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7361
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7372
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7359
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5396 - accuracy: 0.7374
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7360
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7367
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7377
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7371
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5385 - accuracy: 0.7373
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7378
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7375
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7374
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7375
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7382
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7378
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7383
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7380
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7370
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7380
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7385
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7380
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7376
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7378

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5549 - accuracy: 0.7339 - 606ms/epoch - 2ms/step
Loss: 0.5548615455627441, Accuracy: 0.7338775396347046

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity(73%).h5")